.App {
  width: 100%;
  height: 100%;
}

.app-layout {
  display: flex; 
  height: 100vh; 
}

.main-content {
  flex-grow: 1; 
  overflow: scroll;
  background-color: #f4f4f4; 
  width: calc(100% - 80px);
}


